.main-container {
  opacity: 0;

  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding-bottom: 25px;
  @include transition;

  button {
    padding: 12px;
    padding-inline: 15px;
    border-radius: 15px;
    background-color: $accent-yellow;
    color: $primary-green;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @include transition;
    &:hover {
      background-color: darken($accent-yellow, 10%);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
  }

  .search-bar {
    @include transition;
    background-color: transparent;
    position: relative;

    //see _forms.scss
    form {
      padding: 18px;
      .input-container {
        margin: 0;
      }
    }

    .get-btn {
      position: absolute;
      right: -70px;
      bottom: 50%;
      transform: translateY(50%);
    }
  }

  .come-back-btn {
    align-self: flex-end;
  }
  .pagination {
    @include transition(200ms);

    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    color: $accent-yellow;
    background-color: $primary-green;
    border-radius: 15px;
    display: flex;
    align-self: flex-end;
    align-items: center;

    & * {
      cursor: pointer;
      @include transition;
    }

    .page-number {
      margin: 2px;
    }

    .active {
      color: lighten($accent-yellow, 10%);
      font-size: 28px;
    }

    .arrow {
      margin: 10px;
    }
  }

  .cards-container {
    max-width: 100vw;
    padding-inline: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;

    @include ipadPro() {
      grid-template-columns: repeat(4, minmax(200px, 1fr));
    }

    @include laptop13() {
      grid-template-columns: repeat(5, minmax(200px, 1fr));
    }
  }
}
