$light-grey: #ececea;
$primary-green: #009b7d;
$accent-yellow: #ffbf5d;
$charcoal-grey: #333333;
$dim-grey: #4f4f4f;
$dark-green: #004f3d;
$medium-grey: #666666;
$secondary-blue: #005f73;
$highlight-orange: #ff7849;
$dark-grey: #2f2f2f;
$neutral-beige: #f5f5dc;
$deep-red: #b32d2e;
