.toast-auth-message-error {
  background: $accent-yellow;
  color: $dark-green;
  font-family: "Lora";
}

.toast-message {
  background: $primary-green;
  color: $accent-yellow;
  font-family: "Lora";
}

.toast-error-message {
  background: $deep-red;
  color: $light-grey;
  font-family: "Lora";
}
